<!-- Remark Shortcode Plugin - View template -->
<style>{{ custom_css }}</style>
<div class="remark">
	<span class='remark_text'>	
  		{{ content }}	
  	</span>
  	<span class="author">{{ author }}</span>
  	<span class="source">{{ source }}</span>
  	<span class="link_place">
  		<a class="link" href="{{ link }}">{{ link_name }}</a>
  	</span>
</div>
